<!DOCTYPE html>
<html>
    <head> 
    <title> 
    About me 
    </title>
    </head>
    <style>
h1{
font-size: xx-large;
color: rgb(255, 5, 172);
background-color: rgba(255, 217, 0, 0.959);
font-size: 40px;
}
p{
   color: rgba(17, 0, 255, 0.932); 
   background-color: rgb(0, 255, 255);
}
  body{
background-color: rgb(255, 2, 255);
}
    </style>
    </head>
    <body> 
    <img src="../static/unicorn-20072661280.jpg" width="400px" alt="unicorn">
    <h1> 
      What I like to do when I am bored at home 
      </h1> 
      <p> 
          Hello, my name is Anaya Nayak and today I am going to tell you about 
          what I like to do when I am bored at home. <br>
          when I am bored, I mostly color or play with my brother.
          I also play Hide and Seek with my dad.<br>
          I also help my mom with cooking I chop the veggies like tomatoes.
          But when my dad and mom aren't home and I am home, I do some 
          chores but that is  rarely what I do.<br>
          When I am good I play on my Ipad. I play minecraft, short is MC.
          I also do poly coloring it is where you get a picture and I have 
          to fill it with the shape and it is fun.<br>
          I also listen to music while I coloring a photo and when I was
          5 years old, I use to do 100 pieces of puzzle in 5 minuts so you might
          know that I like to do puzzles.<br>

          When I am bored, I play chess or checkers with my brother's nurser
          and some times we play marko polo this one time I made my brother's 
          nurse disy that he needed a break.<br>
           
          The most thing that I like to do is to read a fiction book 
          in school we read the book Harry Potter and the Scocers Stone.
           I think that reading the book with my class was the best part.<br>

           I also watched the movie with my dad and brother it was fun.
           When I am bored I play sports or play in our inflatable pool 
           and I mostly play with the balls in the house and it is fun.<br>
          
           When my dad is free we play frisby or I just go for a bike ride in the coldesack 
           I also play with my friends they have a tramoleen to play on and
            I did get hurt on it  but I was fine in few days. <br>
            
            We also do some arts and craft or just play on the Ipad that is 
            sometimes boring and I dont mind if we play on the Ipad.<br>

            When I am really bord I go and take a nap 

  </p>

    
  </body>
  </html>