<!DOCTYPE html>
<html> 
    <head> 
        <title> 
            About my freinds! 
        </title>
        <style>
    body{
        background-color: cyan;
        color: darkblue;
        font-size: 20px;
        font-weight: bolder;
        font-family: monospace;
    }
        </style>
    </head>
    <body> 
        <p> John he is the funniest and is fun to play with  </p>

        <p>Rashmi: She is my coding teacher and she taught me how to
          do lots of coding thing and she is a great teacher </p>

       <p>Alex: He is a kind friend and he does do what I want to do still when he does not want to do it   like this one time I want to do coloring because I love it and
    he did not want to do it but he still did it for me. </p> 

       <p>Aashaye : He is the best big brother I have. he does not throw
           balls at me and he does scream at mom and dad when I get in trouble and 
           he does not mind if I sit on his lap and he also does not 
           hit me when I am bothering him and he plays with me 
           we use to play catch when I was young it was fun and he is the best.
        </p>
       
       <p>Simrah : she is a good friend and she
            plays with me when I am bored at the parties. </p>
       <p> 
           Aaryana : she is my BFF we are freinds till we 
           where babies and we still are BFFS </p>
       <p>Shreyan He is good at playing 
            minecraft and he 
           taught me how to play minecraft 
            play </p>

            <p> Ruthie : she is a good homeing teacher and she has two kids
                she also does what we want to do like this one tme 
                we had school and we wanted to get wet and she got wet on the fet without
                geting the screen wet.
            </p>
    </body>
</html>
