<!DOCTYPE html> 
<html> 
    <head> 
        <title>
Chocolate
        </title>
    <style>
        body{
            background-color: cyan;
        }
    </style>
    </head>
    <body>
        <h1> 
Chocolate
        </h1> 
        <h2> 
            Kit Kat 
            <img src="../static/376-3768634_kitkat-png-nestle-kit-kat-transparent.png" alt="">
        </h2>
        <h3> 
Hersheys
<img src="../static/big chocclat.jpg" width="500 px" alt="">
</h3> 
        <h4> 
Kinder Joy   
<img src="../static/Kinder-Joy.jpg" alt="">
</h4>
        <h5> 
            Dairy Milk
        </h5>
        <h6> 
            Ferrero Rocher
            <img src="../static/ferrero-rocher.jpg" alt=""> 
        </h6>
        <h6>Skittles
            <img src="../static/anaya.jpg" width="500px" alt="">
        </h6>
    </body>
</html>
