<!DOCTYPE  html>
<html>
    <head>
        <title> 
            Yummy Food!
        </title>
    </head>
    <body> 
        
        <h1>Avocado Sushi</h1>
        <img src="../static/yummy.jpg" width="200px">
        <h2>Ingredients</h2>
        <ul>
            <li>Avocado</li>
            <li> seweed rap</li>
            <li>sticky rice</li>
            <li>Green chillies</li>
        </ul>

        <h2>Instructions</h2>
        <ol>
            <li> 
                First get your hands wet so the rice will stick 
            </li>
            <li>Put seaweed rap on the table and put it flat</li>
            <li>
              then you  put the rice on the seaweed rap   
            </li>
            <li> 
                do the same with you topings I picked Avocado and Green chillies for mine 
            </li>
            <li> 
                then you roll it 
            </li>
            <li> 
                and you say Yummy!
            </li>
        </ol>
    </body>
</html>

